:root {
    --graphite: 49, 47, 47;
    --pearl-aqua: 132, 220, 207;
    --icy-blue: 166, 217, 247;
    --pale-sky: 188, 204, 224;
    --rosy-taupe: 191, 152, 160;

    --darkest: 0, 0, 0;
    --dark: var(--graphite);

    --light: var(--icy-blue);
    --light-contrast: 0, 0, 0;

    --primary: var(--icy-blue);
    --primary-contrast: 0, 0, 0;

    --alert: var(--rosy-taupe);
    --alert-contrast: 0, 0, 0;

    --danger: var(--rosy-taupe);
    --danger-contrast: 255, 255, 255;

    --dim: 96, 96, 96;
    --dim-contrast: 255, 255, 255;

    --surface: var(--dark);
    --surface-contrast: 255, 255, 255;
    --surface-opacity: 70%;
    --surface-backdrop-filter: blur(1rem);

    --background: var(--darkest);
    --background-contrast: 255, 255, 255;

    --text-opacity: 90%;
    --text-opacity-light: 70%;

    --content-width: 30rem;
    --max-content-width: calc(100vw - 1.25rem);

    --transition-time: 200ms;

    --radius-s: 0.25rem;
    --radius-l: 0.75rem;
}

body {
    background-color: rgb(var(--background));
    background-image: url(../assets/stars.svg);
    background-repeat: repeat-x;
    background-size: 30rem;
    color: rgba(var(--background-contrast), var(--text-opacity));
    margin: 0;
    margin-bottom: 4.25rem;
    padding: 0.75rem;

    font-family: sans-serif;
}

@media screen and (min-width: 750px) {
    body {
        margin-bottom: 0;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    /* width: 100%; */
    text-align: center;
    /* background-color: red; */
    font-size: 1rem;
}

a {
    color: rgb(var(--primary));
}

.button,
button {
    display: inline-block;
    border: none;
    background-color: rgb(var(--dim));
    color: rgba(var(--dim-contrast), var(--text-opacity));
    border-radius: var(--radius-s);
    padding: 0.25em 0.5em;
    text-decoration: none;
    font-size: inherit;
    text-align: center;
    transition:
        background-color var(--transition-time),
        color var(--transition-time);

    cursor: pointer;
}

.button.primary,
button.primary {
    background-color: rgb(var(--primary));
    color: rgba(var(--primary-contrast), var(--text-opacity));
}

.button.light,
button.light {
    background-color: rgb(var(--light));
    color: rgba(var(--light-contrast), var(--text-opacity));
}

.button.alert,
button.alert {
    background-color: rgb(var(--alert));
    color: rgba(var(--alert-contrast), var(--text-opacity));
}

.button.danger-hover:hover,
button.danger-hover:hover {
    background-color: rgb(var(--danger));
    color: rgba(var(--danger-contrast), var(--text-opacity));
}

.button.primary-hover:hover,
button.primary-hover:hover {
    background-color: rgb(var(--primary));
    color: rgba(var(--primary-contrast), var(--text-opacity));
}

.button.light-hover:hover,
button.light-hover:hover {
    background-color: rgb(var(--light));
    color: rgba(var(--light-contrast), var(--text-opacity));
}

.button.alert-hover:hover,
button.alert-hover:hover {
    background-color: rgb(var(--alert));
    color: rgba(var(--alert-contrast), var(--text-opacity));
}

.button.danger-hover:hover,
button.danger-hover:hover {
    background-color: rgb(var(--danger));
    color: rgba(var(--danger-contrast), var(--text-opacity));
}

.button.lg,
button.lg {
    padding: 0.5em 0.75em;
}

.button-list {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}
