.default {
    width: var(--content-width);
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--surface));
    color: rgba(var(--surface-contrast), var(--text-opacity));
    padding: 10px;
    z-index: 50;
}

.home {
    color: rgb(var(--primary));
    text-decoration: none;
}
.logout {
    color: inherit;
    border: none;
    background: none;
    font-size: inherit;
}
