.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list li {
    position: relative;
}

.item {
    display: flex;
    border-bottom: solid 1px rgba(var(--background-contrast), 20%);
    padding: 10px;
    transition: background-color, border var(--transition-time);
    height: 46px;
    align-items: center;
}
.item.readonly {
    cursor: pointer;
}
.item.new {
    background-color: rgba(var(--background-contrast), 5%);
    transition: background-color var(--transition-time);
}
.item.new.flashInput {
    background-color: rgba(var(--primary), 25%) !important;
}
.item.new .loading {
    font-size: 7px;
}

.edit .item:focus-within {
    background-color: rgba(var(--background-contrast), 5%);
    border-bottom: solid 1px rgba(var(--background-contrast), 70%);
}

.name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    height: 100%;
}
.name:focus-visible {
    outline: none;
}

.thinking .name {
    color: rgba(var(--background-contrast), 50%);
}
.purchased .name {
    text-decoration: line-through;
    color: rgba(var(--background-contrast), 50%);
}

.icon {
    display: flex;
    color: rgba(var(--background-contrast), 50%);
}

.actions {
    display: flex;
    gap: 5px;
}
