.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list li {
    position: relative;
}

.item {
    display: flex;
    border-bottom: solid 1px rgba(var(--background-contrast), 20%);
    padding: 10px;
    transition: background-color, border 0.25s;
    height: 46px;
}
.item.new {
    background-color: rgba(var(--background-contrast), 5%);
    transition: background-color 250ms;
}
.item.new.flashInput {
    background-color: rgba(var(--primary), 25%) !important;
}

.edit .item:focus-within {
    background-color: rgba(var(--background-contrast), 5%);
    border-bottom: solid 1px rgba(var(--background-contrast), 70%);
}

.name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    height: 100%;
}
.name:focus-visible {
    outline: none;
}

.thinking .name {
    color: rgba(var(--background-contrast), 50%);
}
.purchased .name {
    text-decoration: line-through;
    color: rgba(var(--background-contrast), 50%);
}

.actions {
    display: flex;
    gap: 5px;
}
.action {
    background: none;
    border: none;
    opacity: 0.5;
}
.action.active {
    opacity: 1;
}

.popup {
    display: none;
}
.popup.open {
    display: block;
    position: absolute;
    background-color: rgb(var(--surface));
    color: rgba(var(--surface-contrast), var(--text-opacity));
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: var(--content-width);
    max-width: var(--max-content-width);
    z-index: 20;
}
.popup label {
    display: block;
}

.popup.readonly > * {
    margin: 0.5em 0;
}
.popup.readonly > *:first-child {
    margin-block-start: 0;
}
.popup.readonly > *:last-child {
    margin-block-end: 0;
}

.popupLink {
    color: rgb(var(--primary), var(--text-opacity));
}
.popupLink a {
    color: inherit;
}
.divider {
    border-top: solid 1px rgba(var(--surface-contrast), 25%);
    padding-top: 0.5em;
}
.popupDescription p {
    margin: 0;
}

.screen.open {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 10;
}
