.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
    animation: blur-in 0.2s;
}
@keyframes blur-in {
    0% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(5px);
    }
}

.screen.closing {
    animation: blur-out 0.2s forwards;
    pointer-events: none;
}
@keyframes blur-out {
    0% {
        backdrop-filter: blur(5px);
    }
    100% {
        backdrop-filter: blur(0);
    }
}

.modal {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    --padding: 15px;
    background-color: rgb(var(--surface));
    color: rgba(var(--surface-contrast), var(--text-opacity));
    width: var(--content-width);
    max-width: var(--max-content-width);
    padding: var(--padding);

    z-index: 101;

    animation: slide-in 0.2s;
}

@keyframes slide-in {
    0% {
        transform: translateX(-50%) translateY(calc(-100% - 100px));
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.modal.closing {
    animation: slide-out 0.2s forwards;
}
@keyframes slide-out {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(calc(-100% - 100px));
    }
}

.title {
    margin: 0;
}

.close {
    position: absolute;
    top: var(--padding);
    right: var(--padding);
}

.actions {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
