.wrapper {
    --size: 1em;
    --gap: 0.4em;
    --padding: 0.5em;

    width: calc(var(--size) * 3 + var(--gap) * 2 + var(--padding) * 2);
    padding: 0 var(--padding);
}

.loader,
.loader:before,
.loader:after {
    display: inline-block;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    font-size: inherit;
    position: relative;
    text-indent: -9999em;
    transform: translate3d(
        calc(var(--size) + var(--gap)),
        calc(-1 * var(--size)),
        0
    );
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: calc(-1 * (var(--size) + var(--gap)));
    animation-delay: -0.32s;
}
.loader:after {
    left: calc(var(--size) + var(--gap));
}

@keyframes bblFadInOut {
    0%,
    80%,
    100% {
        box-shadow: 0 var(--size) 0 -1.3em;
    }
    40% {
        box-shadow: 0 var(--size) 0 0;
    }
}
