.spinner {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.rainbow {
    background: conic-gradient(in hsl longer hue, red 0 0);
    mask-image: url(../../assets/icons/circle.svg);
    mask-size: 100%;
    animation: loadingRotate 1s linear infinite;
}

@keyframes loadingRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pageSpinner {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 50%);
    justify-content: center;
    z-index: 200;
}

.pageSpinner > .spinner {
    position: absolute;
    top: 20%;
}
