.controller {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 30rem;
    max-width: 100%;
    padding: 0.75rem;
    bottom: 0;
    right: 0;
    z-index: 10000;
}

.toast {
    background-color: rgb(var(--surface));
    color: rgb(var(--surface-contrast));
    width: 100%;
    padding: 0.75rem;
}

.toast p {
    margin: 0;
}

.toast > button {
    float: right;
}
